@font-face {
    font-family: schrift;
    src: url("../fonts/Calibri.ttf");
}

body {
    margin: 0;
    padding: 0;
}

/*MENÜ*/
header img {
    margin: 1%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    font-family: schrift;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 16px 16px;
    text-decoration: none;
}

nav li a:hover, nav li a.active{
    background-color: #FC0101;
    transition: 0.20s;

}

nav ul li ul li{
    float: none;
}

nav ul li ul{
    display: block;
    position:absolute;
}

nav ul li ul li a {
    display: block;
    text-align: left;
    padding: 10px 12px 12px 12px;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: red;
}

nav ul li:hover ul {
    display: block;
}

/*Content*/
section
{
    margin: 1% 3% 3% 4%;
    padding: 0em;
    display: block;
    font-family: schrift;
    text-align: justify;
}

section > article
{
    display: inline-block;
    background-color: #ffffff;
    padding: 0em;
    margin: 0em;
    width: 70%;
    vert-align: top;
    text-align: justify;
}

section article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 2%;
}

section article article {
    margin: 2%;
    border-bottom: dimgrey 2.5px solid;
    padding-bottom: 2%;
    margin-bottom: 0;
}

/*ASIDE*/
section aside
{
    display: inline-block;
    width: 25%;
    padding: 0em;
    margin: 0em;
    vertical-align: top;
    margin-left: 3%;
    margin-top: 2%;
    background-color: #EDEDED;

}

section h2 {
    margin: 0;
    text-align: left;
}

section aside article {
    padding-bottom: 3%;
}

section aside img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92.5%;
    border-radius: 2%;
}

section aside ul {
    padding-left: 4%;
    padding-right: 6%;
    margin: 3% 0;
}
section aside h1{
    margin-top: 2%;
    margin-left: 4%;
}

section aside li {
    list-style-type: none;
    margin-bottom: 1%;
    border-bottom: #dddddd solid 1px;

    padding: 1.5% 0;
}

section aside li a {
    text-decoration: none;
    color: #FC0101;
}

section aside li a:hover {
    text-decoration: underline;
}


/*Login Styles

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
}

/* Set a style for all buttons */
button {
    background-color: #FC0101;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
    height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}